@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  cursor: url(/portfolio-nextjs/public/assets/mouse.png), pointer;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway];
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r  from-green-400 via-blue-500 to-purple-500 text-white;
  }
}

.fade-in {
  animation: spinly 2.4s cubic-bezier(0.4, 0.1, 0.3, 1) infinite;
  transform-origin: center;
}

@keyframes spinly {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
}

body {
  cursor: url("https://i.imgur.com/6hAqXPA.png"), auto;
}
